*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #D93B92;
  --color2: #AB05F2;
  --color3: #6805F2;
  --color4: #1D1C40;
  --color5: #F26444;

  /* https://color.adobe.com/pt/trends/Ui/ux */
}

html{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body{
  background-color: #404040;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background-color: var(--color4);
  border-radius: .5rem;
  box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.3);
  overflow: hidden;
  width: 30rem;
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 1.4rem;
  margin: 1rem 0 2rem 0;
}

.header {
  background-color: var(--color5);
  color:var(--color4);
  padding: 2rem 1rem;
}

.header input {
  background-color: var(--color4);
  width: 100%;
  padding: .5rem 1rem;
  color: var(--color1);
  margin-top: 1rem;
  border-radius: .5rem;
  font-size: 1.4rem;
}

.header input:focus {
  outline: none;
}

.user-list {
  list-style-type: none;
  color: var(--color1);
  max-height: 40rem;
  overflow-y: auto;
}

.user-list li {
  display: flex;
  align-items: center;
  padding: 2.5rem;
}

.user-list li img {
  border-radius: 50%;
  object-fit: cover;
  height: 5rem;
  width: 5rem;
}

.user-list li .user-info {
  margin-left: 2rem;
}

.user-list li .user-info h4 {
  font-size: 1.6rem;
  margin: 0 0 1rem 0;
}

.user-list li .user-info p {
  font-size: 1.2rem;
}

.user-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--color5);
}

.user-list li h3 {
  font-size: 1.6rem;
}

.user-list li.hide {
  display: none;
}

@media (max-width: 500px){
  .container{
    width: 100vw;
    height: 100vh;
  }

  .user-list{
    max-height: 100vh;
  }
}